{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center">
		<h2 class="mt-5" id="page-name">Mes messages</h2>
	</div>
	{% for message in messages %}
		<div class="d-flex flex-column flex-lg-row justify-content-center m-3">
			<div class="d-flex flex-column align-items-center me-4">
				<div>Nom d'utilisateur :
					{{ message.username }}</div>
				<div>Email :
					{{ message.email }}</div>
				<div>Sujet :
					{{ message.subject }}</div>
			</div>
			<div class="text-center" style="width: 340px;">{{ message.message }}</div>
		</div>
	{% else %}
		<p class="text-center">Aucun message trouvé</p>
	{% endfor %}
{% endblock %}
