{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet
{% endblock %}

{% block body %}
	<h2 class="text-center mt-5">Nouveau projet</h2>
	<div class="d-flex flex-column align-items-center">
		{{ include('projet/_form.html.twig', {'button_label': 'Créer nouveau projet'}) }}

		<a href="{{ path('app_projet_index') }}">Retour à la liste de projet</a>
	{% endblock %}
