{% extends 'base.html.twig' %}


{% block title %}Py_Mosaics
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-center">
		<h2 class="mt-5">Accueil</h2>
	</div>
	<div class="d-flex flex-column align-items-center">
		<div class="accueil-menu">
			<img class="accueil_img" src="img/Accueil/Projet.jpg">
			<a class="texte-accueil" href="">Projets</a>
		</div>
		<div class="accueil-menu">
			<img class="accueil_img" src="img/Accueil/Galerie.jpg">
			<a class="texte-accueil" href="">Galerie</a>
		</div>
		<div class="accueil-menu">
			<img class="accueil_img" src="img/Accueil/A propos de moi.jpg">
			<a class="texte-accueil" href="">A propos de moi</a>
		</div>
		<div class="accueil-menu">
			<img class="accueil_img" src="img/Accueil/Evenements.jpg">
			<a class="texte-accueil" href="">Évènements</a>
		</div>
		<div class="accueil-menu">
			<img class="accueil_img" src="img/Accueil/Contact.jpg">
			<a class="texte-accueil" href="">Contact</a>
		</div>
	</div>
{% endblock %}
