@import "~bootstrap/scss/bootstrap";

a {
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.trait {
  border-bottom: 1px solid black;
  width: 50%;
}

.texte-accueil {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.texte-accueil:hover {
  color: black;
}

.accueil-menu {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 800px;
  color: white;
  border-radius: 25px;
  margin: 10px;
  background-size: 800px 250px;
}

.login {
  position: absolute;
  top: 20px;
  right: 2rem;
}

.button {
  box-shadow: inset 0px 0px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #ffa940 100%);
  background-color: #ffc477;
  border-radius: 8px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
}

.button:hover {
  background: linear-gradient(to bottom, #ffa940 5%, #ffc477 100%);
  background-color: #ffa940;
}

@media screen and (max-width: 992px) {
  #navbar-relative {
    position: fixed;
    top: 10px;
    left: 2rem;
    background-color: white;
  }
}


@media screen and (max-width: 1200px) {
  .accueil-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 350px;
    color: white;
    border-radius: 25px;
    margin: 10px;
    background-size: 350px 100px;
  }
}