@import "~bootstrap/scss/bootstrap";

.is_connected {
  position: static;
}

.is_not_connected {
  position: absolute;
  top: 20px;
  right: 10px;
}

a {
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.projet_image {
  width: 350px;
  height: 350px;
}

#navbar-relative {
  position: fixed;
  top: 10px;
  left: 2rem;
  background-color: white;
}

.trait {
  border-bottom: 1px solid black;
  width: 50%;
}

.accueil_img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.texte-accueil {
  position: absolute;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.texte-accueil:hover {
  color: black;
}

.accueil-menu {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 350px;
  color: white;
  border-radius: 25px;
  margin: 10px;
  background-size: 800px 250px;
}

.button {
  box-shadow: inset 0px 0px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #ffa940 100%);
  background-color: #ffc477;
  border-radius: 8px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
}

.button:hover {
  background: linear-gradient(to bottom, #ffa940 5%, #ffc477 100%);
  background-color: #ffa940;
}

.upload_field {
  display: flex;
  flex-direction: column;
}

.description_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: auto;
}

.projet_image1 {
  border: solid 1px black;
  width: 220px;
  height: 220px;
  margin-right: 36px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.projet_image2_3 {
  border: solid 1px black;
  width: 74px;
  height: 92px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.projet_image4 {
  border: solid 1px black;
  width: 330px;
  height: 74px;
  margin-top: 18px;
}

.projet_image5 {
  border: solid 1px black;
  width: 220px;
  height: 146px;
  margin-top: 36px;
  margin-right: 18px;
}

.projet_image6 {
  border: solid 1px black;
  width: 74px;
  height: 146px;
  margin-top: 36px;
  margin-left: 18px;
}

.projet_image7 {
  border: solid 1px black;
  width: 330px;
  height: 146px;
  margin-top: 36px;
}

.img_show {
  width: 100%;
  height: 100%;
}

.galery_img_show {
  border: solid 1px black;
  width: 300px;
  height: 150px;
  margin-top: 1rem;
}

.img_galery_size {
  border: solid 1px black;
  width: 150px;
  height: 100px
}

.galery_pos_img1 {
  position: absolute;
  z-index: 3;
}

.galery_pos_img1:hover {
  z-index: 3;
}

.galery_pos_img2 {
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 2;
}

.galery_pos_img2:hover {
  z-index: 3;
}

.galery_pos_img3 {
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 1;
}

.galery_pos_img3:hover {
  z-index: 3;
}

.container_galery {
  position: relative;
  width: 150px;
  height: 110px;
}

.contact_user_email {
  width: 150px;
  height: 30px;
}

.contact_subject {
  width: 310px;
  height: 30px;
}

.contact_message {
  width: 310px;
  height: 150px;
}

@media screen and (min-width: 991px) {
  .is_connected {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .accueil-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 165px;
    width: 500px;
    color: white;
    border-radius: 25px;
    margin: 10px;
    background-size: 350px 100px;
  }

  #navbar-relative {
    position: static;
    background-color: white;
  }

  .description_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 450px;
  }

  .description_size {
    width: 400px;
    height: 400px;
  }

  .projet_image1 {
    border: solid 1px black;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .projet_image2_3 {
    border: solid 1px black;
    width: 100px;
    height: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .projet_image4 {
    border: solid 1px black;
    width: 450px;
    height: 100px;
    margin-top: 25px;
  }

  .projet_image5 {
    border: solid 1px black;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-right: 25px;
  }

  .projet_image6 {
    border: solid 1px black;
    width: 100px;
    height: 200px;
    margin-top: 50px;
    margin-left: 25px;
  }

  .projet_image7 {
    border: solid 1px black;
    width: 450px;
    height: 200px;
    margin-top: 50px;
  }

  .img_galery_size {
    border: solid 1px black;
    width: 300px;
    height: 200px
  }

  .container_galery {
    position: relative;
    width: 400px;
    height: 220px;
  }

  .contact_user_email {
    width: 200px;
    height: 30px;
  }

  .contact_subject {
    width: 420px;
    height: 30px;
  }

  .contact_message {
    width: 420px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .accueil-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 800px;
    color: white;
    border-radius: 25px;
    margin: 10px;
    background-size: 350px 100px;
  }
}