{% extends 'base.html.twig' %}

{% block title %}À propos de moi
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center">
		<h2 class="mt-5">À propos de moi</h2>
	</div>
	<div class="mx-lg-5">
		<p class="ms-5 me-5" style="text-align: justify;">
			Py est devenue une signature, puisque l'on me demandait de signer. Cela vient de mon surnom, celui que mes amis me donnent.
			Dans la vie, mon prénom est Vanessa et je suis une grande lectrice, propriétaire de chats un peu gros, marié à l'homme qui soutient mon art...
			Je suis aussi assez timide et parler de moi est un exercice bien plus difficile que de m'atteler à mon art.
			Mais puisque certains voudront savoir, voici mon parcours et ma démarche.</p>
		<div class="m-3 d-md-flex justify-content-center">
			<img src="img/img à propos de moi/moi3.jpg" alt="" class="align-self-center d-block mx-auto" style="height: auto; width: 20rem;">
			<div class="d-flex flex-column">
				<p class="m-3 align-self-center" style="text-align: justify;">
					Mosaïste indépendante, actuellement salariée dans une entreprise de construction de maisons individuelles où j'exerce le métier de dessinatrice Métreuse.
					L'envie pour moi est de plus en plus grande de fonder ma propre structure.
					La mosaïque m'a été transmise pour la 1ère fois à l'âge de mes 16 ans par le biais de la mère de ma meilleure amie. Ça a été une révélation.
					Dès lors, je n'ai plus jamais arrêté d'en faire. En 2010, j'ai même décidé d'en faire mon métier.</p>
				<p class="m-3 align-self-center" style="text-align: justify;">
					J'ai suivi une formation professionnelle de carreleur mosaïste à la CEREF BTP de Bourgtheroulde dans l'Eure. 
					J'y ai passé d'abord un CAP en 2011 puis j'ai exercé quelque temps. J'ai eu ensuite l'opportunité de passer mon BP en 2013.
					Malheureusement, suite à des problèmes de genou, très connu chez les carreleurs, je me suis tournée en 2016 vers le métier de métreur afin de garder un pied dans le monde du bâtiment qui m'ait cher.</p>
				<p class="m-3 align-self-center" style="text-align: justify;">
					Mon plus grand souhait est de compléter ma formation par un titre d'artisan d'art et d'ouvrir mon propre atelier/galerie dans le but de faire profiter à tout à chacun d'un lieu de visite et de formation de la mosaïque contemporaine.
					Cet art ancien est pour moi à la fois un défouloir et une source d'apaisement. Le passage obligatoire de la destruction de la matière pour ensuite reconstruire quelque chose d'unique me fascine.
					Je réalise des créations d'oeuvres contemporaines originales et personnelles selon des techniques à la fois anciennes et modernes.</p>
			</p>
		</div>
	</div>
	<div class="m-3 d-md-flex justify-content-center">
		<div class="d-flex flex-column justify-content-center">
			<p class="m-3 align-self-center" style="text-align: justify;">
				Imaginative et soucieuse des détails, j'aime représenter ce qui me fascine, c'est pourquoi mes oeuvres s'orientent principalement vers la nature, la mer, les animaux,...
				J'aime aussi laisser libre cours à mon imagination afin de réaliser des oeuvres abstraites mêlant savoir-faire, couleurs et imaginaire.
				Je passe toujours par un processus de dessin/maquette lié à des images/photos inspirantes, mais aussi par une analyse des couleurs.
				L'alliance et l'harmonisation des couleurs sont un sujet primordial dans mon processus créatif.</p>
			<p class="m-3 align-self-center" style="text-align: justify;">
				J'aime me laisser guider par l'intensité de la matière et le reflet de celle-ci sur une autre.
				Toujours à la recherche de la qualité, la précision et l'élégance, j'aime mettre en avant des matériaux nobles tels que le bois, l'ardoise, le verre,...
				J'ai orienté essentiellement ma technique vers un travail du verre "Albertini" vendu à la boutique de Montigny-Lès-Cormeilles.
				J'aime y ajouter des pierres précieuses ou semi-précieuses ainsi que d'autres tesselles (or, miroir, émaux,...) afin de faire apparaître la dualité et l'harmonisation des matériaux entre eux.</p>
			<p class="m-3 align-self-center" style="text-align: justify;">
				Mes principaux outils de travail sont la pince à molettes, la pince japonaise et une brucelles courbe servant à la pose des tesselles.
				Mais j'ai récemment acquis la pratique de la marteline et du tranchet avec la mosaïste Estelle APPARU lors d'une formation à Lyon dans son atelier.
				Cela a été un véritable plaisir de découvrir cette technique. Il me tarde de réaliser de nouvelles oeuvres alliant cette nouvelle technique de découpe et la mienne.
				Toutes mes réalisations sont réalisées sur support bois type médium et j'aime réaliser des oeuvres sans mortier. J'utilise principalement de la colle à bois pour coller mes tesselles.
				Je reste pourtant ouverte à toutes sortes de pratique et ai soif de savoir. La mosaïque est pour moi un art en constante évolution.
			</p>
		</div>
		<img src="img/img à propos de moi/marteline - tranchet.jpg" alt="" class="align-self-center d-block mx-auto" style="height: auto; width: 20rem;">
	</div>
	<p class="ms-5 me-5" style="text-align: justify;">
		J'aime à penser que j'apporte une vision moderne à l'art de la mosaïque contemporaine.
		Basée à Rouen, je souhaite développer ma participation aux événements artisanaux et artistiques régionaux, mais aussi nationaux comme la participation aux rencontres internationales de mosaïque à Chartres.
	</p>
</div>{% endblock %}
