{% extends 'base.html.twig' %}

{% block title %}Nouvelle galerie
{% endblock %}

{% block body %}
	<h2 class="text-center mt-5">Nouvelle galerie</h2>
	<div class="d-flex flex-column align-items-center">
		{{ include('galery/_form.html.twig') }}

		<a href="{{ path('app_galery_index') }}">Retour à la liste de galerie</a>
	</div>
{% endblock %}
